<% include parts/header %>
<div class="jumbotron text-center">
<div class="container">
  <ul class="pagination">
  <li><a class"btn" href="#" onclick="select('0-9')">0-9</a></li>
  <li><a class"btn" href="#" onclick="select('A')">A</a></li>
  <li><a class"btn" href="#" onclick="select('B')">B</a></li>
  <li><a class"btn" href="#" onclick="select('C')">C</a></li>
  <li><a class"btn" href="#" onclick="select('D')">D</a></li>
  <li><a class"btn" href="#" onclick="select('E')">E</a></li>
  <li><a class"btn" href="#" onclick="select('F')">F</a></li>
  <li><a class"btn" href="#" onclick="select('G')">G</a></li>
  <li><a class"btn" href="#" onclick="select('H')">H</a></li>
  <li><a class"btn" href="#" onclick="select('I')">I</a></li>
  <li><a class"btn" href="#" onclick="select('J')">J</a></li>
  <li><a class"btn" href="#" onclick="select('K')">K</a></li>
  <li><a class"btn" href="#" onclick="select('L')">L</a></li>
  <li><a class"btn" href="#" onclick="select('M')">M</a></li>
  <li><a class"btn" href="#" onclick="select('N')">N</a></li>
  <li><a class"btn" href="#" onclick="select('O')">O</a></li>
  <li><a class"btn" href="#" onclick="select('P')">P</a></li>
  <li><a class"btn" href="#" onclick="select('Q')">Q</a></li>
  <li><a class"btn" href="#" onclick="select('R')">R</a></li>
  <li><a class"btn" href="#" onclick="select('S')">S</a></li>
  <li><a class"btn" href="#" onclick="select('T')">T</a></li>
  <li><a class"btn" href="#" onclick="select('U')">U</a></li>
  <li><a class"btn" href="#" onclick="select('V')">V</a></li>
  <li><a class"btn" href="#" onclick="select('W')">W</a></li>
  <li><a class"btn" href="#" onclick="select('X')">X</a></li>
  <li><a class"btn" href="#" onclick="select('Y')">Y</a></li>
  <li><a class"btn" href="#" onclick="select('Z')">Z</a></li>
</ul>
</div>
<ul class="pager">
<li><a class="btn" href="#" onclick="select('action')">Action</a></li>
<li><a class="btn" href="#" onclick="select('adventure')">Adventure</a></li>
<li><a class="btn" href="#" onclick="select('animation')">Animation</a></li>
<li><a class="btn" href="#" onclick="select('children')">Children</a></li>
<li><a class="btn" href="#" onclick="select('comedy')">Comedy</a></li>
<li><a class="btn" href="#" onclick="select('crime')">Crime</a></li>
<li><a class="btn" href="#" onclick="select('documentary')">Documentary</a></li>
<li><a class="btn" href="#" onclick="select('drama')">Drama</a></li>
<li><a class="btn" href="#" onclick="select('family')">Family</a></li>
<li><a class="btn" href="#" onclick="select('fantasy')">Fantasy</a></li>
<li><a class="btn" href="#" onclick="select('food')">Food</a></li>
<li><a class="btn" href="#" onclick="select('home and Garden')">Home and Garden</a></li>
<li><a class="btn" href="#" onclick="select('horror')">Horror</a></li><br>
<li><a class="btn" href="#" onclick="select('mini-series')">Mini-series</a></li>
<li><a class="btn" href="#" onclick="select('mystery')">Mystery</a></li>
<li><a class="btn" href="#" onclick="select('news')">News</a></li>
<li><a class="btn" href="#" onclick="select('reality')">Reality</a></li>
<li><a class="btn" href="#" onclick="select('romance')">Romance</a></li>
<li><a class="btn" href="#" onclick="select('sci-Fi')">Sci-Fi</a></li>
<li><a class="btn" href="#" onclick="select('sport')">Sport</a></li>
<li><a class="btn" href="#" onclick="select('suspense')">Suspense</a></li>
<li><a class="btn" href="#" onclick="select('talk show')">Talk show</a></li>
<li><a class="btn" href="#" onclick="select('thriller')">Thriller</a></li>
<li><a class="btn" href="#" onclick="select('travel')">Travel</a></li>
</ul>
</div>
<div class="box">
      <div><h2 align="center"> Top 12 Shows</h2>
  <form>
<input type="text" name="Search" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
</form>
</div>
<div id="myUl">
  <div class="gallery G comedy show">
    <a target="_blank" href="/movie">
      <img class="x" src="image/2.jpeg" width="300" height="200">
    </a>
    <h4 style="text-align:center;"><a href="#">Gulaebaghavali</a></h4>
  </div>

  <div class="gallery O comedy show">
    <a target="_blank" href="1.jpeg">
      <img  class="x" src="image/1.jpeg"  width="300" height="200">
    </a>
    <h4 style="text-align:center;"><a href="#">Oru nalla nall pathu solran</a></h4>
  </div>
<div class="gallery S romance show">
  <a target="_blank" href="3.jpeg">
    <img  class="x" src="image/3.jpeg"  width="300" height="200">
  </a>
  <h4 style="text-align:center;">Sema</h4>
</div>

<div class="gallery K comedy show">
  <a target="_blank" href="4.jpeg">
    <img  class="x" src="image/4.jpeg" width="300" height="200">
  </a>
  <h4 style="text-align:center;"><a href="#">Kalakalappu 2</a></h4>
</div>

<div class="gallery D family show">
 <a target="_blank" href="5.jpeg">
    <img  class="x" src="image/5.jpeg" width="300" height="200">
  </a>
  <h4 style="text-align:center;"><a href="#">Dhilluku Dhuddu</a></h4>
  </div>

<div class="gallery G fantasy show">
  <a target="_blank" href="6.jpeg">
    <img  class="x" src="image/6.jpeg" width="300" height="200">
  </a>
  <h4 style="text-align:center;">Ghajinikanth</h4>
  </div>

<div class="gallery B action show">
  <a target="_blank" href="7.jpeg">
    <img  class="x" src="image/7.jpeg" width="300" height="200">
  </a>
  <h4 style="text-align:center;">Bhasker Oru Rascal</h4>
  </div>

<div class="gallery G children show">
  <a target="_blank" href="8.jpeg">
    <img  class="x" src="image/8.jpeg" width="300" height="200">
  </a>
  <h4 style="text-align:center;">Goli soda 2</h4>
  </div>

<div class="gallery T thriller show">
  <a target="_blank" href="9.jpeg">
    <img  class="x" src="image/9.jpeg" width="300" height="200">
  </a>
  <h4 style="text-align:center;">Thana serntha kootam</h4>
  </div>

<div class="gallery S romance show">
  <a target="_blank" href="10.jpeg">
    <img  class="x" src="image/10.jpeg" width="300" height="200">
  </a>
  <h4 style="text-align:center;">Sema botha agathe</h4>
  </div>

<div class="gallery S comedy show">
  <a target="_blank" href="11.jpeg">
    <img  class="x" src="image/11.jpeg" width="300" height="200">
  </a>
  <h4 style="text-align:center;">Server Sundaram</h4>
  </div>

<div class="gallery O comedy show">
  <a target="_blank" href="12.jpeg">
    <img  class="x" src="image/12.jpeg" width="300" height="200">
  </a>
  <h4 style="text-align:center;">Oru Kuppai Kadhai</h4>
  </div>
</div>
  <p> <div class="footer"> </p>
<p> view More </p>

<% include parts/footer %>
