<style>
.gallery{display: none;}
.show{display: block!important;}
</style>

<div class="jumbotron text-center">
  <div class="container">
    <ul class="pagination">
      <li><a class"btn" href="#" onclick="filtA()">A</a></li>
      <li><a class"btn" href="#" onclick="filtB()">B</a></li>
      <li><a class"btn" href="#" onclick="filtC()">C</a></li>
      <li><a class"btn" href="#" onclick="filtD()">D</a></li>
      <li><a class"btn" href="#" onclick="filtE()">E</a></li>
      <li><a class"btn" href="#" onclick="filtF()">F</a></li>
      <li><a class"btn" href="#" onclick="filtG()">G</a></li>
      <li><a class"btn" href="#" onclick="filtH()">H</a></li>
      <li><a class"btn" href="#" onclick="filtI()">I</a></li>
      <li><a class"btn" href="#" onclick="filtJ()">J</a></li>
      <li><a class"btn" href="#" onclick="filtK()">K</a></li>
      <li><a class"btn" href="#" onclick="filtL()">L</a></li>
      <li><a class"btn" href="#" onclick="filtM()">M</a></li>
      <li><a class"btn" href="#" onclick="filtN()">N</a></li>
      <li><a class"btn" href="#" onclick="filtO()">O</a></li>
      <li><a class"btn" href="#" onclick="filtP()">P</a></li>
      <li><a class"btn" href="#" onclick="filtQ()">Q</a></li>
      <li><a class"btn" href="#" onclick="filtR()">R</a></li>
      <li><a class"btn" href="#" onclick="filtS()">S</a></li>
      <li><a class"btn" href="#" onclick="filtT()">T</a></li>
      <li><a class"btn" href="#" onclick="filtU()">U</a></li>
      <li><a class"btn" href="#" onclick="filtV()">V</a></li>
      <li><a class"btn" href="#" onclick="filtW()">W</a></li>
      <li><a class"btn" href="#" onclick="filtX()">X</a></li>
      <li><a class"btn" href="#" onclick="filtY()">Y</a></li>
      <li><a class"btn" href="#" onclick="filtZ()">Z</a></li>
    </ul>
  </div>
</div>
<div class="box">
  <div><h2 align="center"> Top 12 Shows</h2>
        <div class="row">
          <div class="col-sm-3">
        <input class="form-control" type="text" id="searchitem" placeholder="search a movie">
      </div>
      <div class="col-sm-3">
        <input class="btn btn-success" style="margin-left:2%;" type="button" onclick="search(searchitem)" value="search">
      </div>
    </div>
  </div>
  <div id="rootus">

  </div>
  <p> <div class="footer"> </p>
    <p> view More </p>
