
<style type="text/css">
.navbar-brand{
  background-color: yellow;
}
body {
	background:#C0C0C0;
}
	.login-form {
		width: 340px;
    	margin: 30px auto;
			background-color: white;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .login-form .hint-text {
		color: #777;
		padding-bottom: 15px;
		text-align: center;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .login-btn {
        font-size: 15px;
        font-weight: bold;
    }
    .or-seperator {
        margin: 20px 0 10px;
        text-align: center;
        border-top: 1px solid #ccc;
    }
    .or-seperator i {
        padding: 0 10px;
        background: #C0C0C0;
        position: relative;
        top: -11px;
        z-index: 1;
    }
    .social-btn .btn {
        margin: 10px 0;
        font-size: 15px;
        text-align: left;
        line-height: 24px;
    }
	.social-btn .btn i {
		float: left;
		margin: 4px 15px  0 5px;
        min-width: 15px;
	}
	.input-group-addon .fa{
		font-size: 18px;
	}
</style>

<div class="login-form">
    <form action="login" method="post">
        <h2 class="text-center">Log in</h2>
        <div class="text-center social-btn">

        </div>
				<div class="form-group">
					<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
								<input id="code" type="email" class="form-control" name="email" placeholder="Email" required="required">
						</div>

				</div>
		<div class="form-group">
						<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock"></i></span>
								<input id="doner" type="password" class="form-control" name="password" placeholder="Password" required="required">
						</div>

				</div>
					<p id="msg"></p>
				<div class="form-group">
			     <button type="submit" class="btn btn-success btn-block login-btn" onclick= "loge(code, doner)">Log in</button>

				</div>
		<div class="or-seperator"><i>or</i></div>
		<a href="auth/facebook" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Log in with <b>Facebook</b></a>
<a href="/auth/google" class="btn btn-danger btn-block"><i class="fa fa-google"></i> Log in with <b>Google</b></a>
<br>
        <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
            <a href="#" class="pull-right text-success">Forgot Password?</a>
        </div>
<br>

    <div class="hint-text small">Don't have an account? <a href="signup.html" class="text-success">Register Now!</a></div>
</div>
</form>
</body>
</html>
