<!DOCTYPE html>
<html lang="en" dir="ltr" >
<head>
  <title> assignment</title>
  <meta charset="utf-8">
  <meta name="viewport"content="width-device-width, initial-scale-1">

  <link href="/css/bootstrap.css" type="text/css"rel="stylesheet">
  <link href="/css/bootstrap.min.css"type="text/css"rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <!-- <script src="/jQuery/jquery-3.3.1.min.js"></script> -->
 <!-- <script src="js/bootstrap.js"></script> -->
 <script type="text/javascript" src="js/script.js"></script>

</head>
<style>
.gallery{display: none;}
.show{display: block!important;}
</style>
<body>

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Show movies </a>
      </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/add">Add</a></li>


    </ul>
    <ul class="nav navbar-nav navbar-right">
  <% if (user){ %>
    <li>  <a class="glyphicon glyphicon-log-in"> <%= user.local.email || user.facebook.id %></a></li>
    <li>  <a href="/logout" class="glyphicon glyphicon-log-in"> Logout</a></li>
  <% } else { %>
    <li>  <a href="/login" class="glyphicon glyphicon-log-in"> Login</a></li>
    <li>	<a href="/signup" class="glyphicon glyphicon-user"> Signup</a></li>
  <% } %>
  </ul>
  </div>
</nav>
